<div class="ads">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 300x250_Important -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:300px;height:250px"
	     data-ad-client="ca-pub-4825568418877528"
	     data-ad-slot="2360463290"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<style>
	.ads {
		text-align: center;
	}
	body {
		padding: 00px 10%;	
	}
	.plus {
		font-size: 30px;
		padding: 30px;
	}
	.number {
		font-size: 40px;
	}
	.clean-box {
		text-align: center;
	}
	.clean-box button {
		font-size: 35px;
	}
	.player {
		width: 48%;
		display: inline-block;
	}
</style>

<br>
<br>
<br>

<div class="player player-1">
	<div class="dice dice-1">Dado 1: <span class="number"></span></div>
	<div class="dice dice-2">Dado 2: <span class="number"></span></div>	
	<div class="dice dice-3">Dado 3: <span class="number"></span></div>
	<button class="plus">Tirar</button>
</div>

<div class="player player-2">
	<div class="dice dice-1">Dado 1: <span class="number"></span></div>
	<div class="dice dice-2">Dado 2: <span class="number"></span></div>	
	<div class="dice dice-3">Dado 3: <span class="number"></span></div>	
	<button class="plus">Tirar</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="clean-box">
	<button id="clean-button">Borrar</button>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39454052-3', 'auto');
  ga('send', 'pageview');

</script>